:root {
    --unifae-green-1: #38A69B;
    --unifae-green-2: #32736C;
    --unifae-green-3: #25403D;
    --unifae-green-4: #3BBFA7;
    --unifae-green-5: #E5F4F3;
    --unifae-white-1: #FEFEFE;
    --unifae-black-1: #0D0D0D;
    --unifae-gray-1: #585859;
    --unifae-gray-2: #737373;
    --unifae-gray-3: #404040;
    --unifae-black50-1: #0D0D0D80;
    --unifae-gray50-1: #58585980;
    --unifae-gray50-2: #73737380;
    --unifae-gray50-3: #40404080;
    --card-white-1: #EAEAEA;
    --card-white-2: rgba(234, 234, 234, 0.5);
  }


*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: lighter;
}

img {
    width: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--card-white-2);
    padding: 20px;
    width: 100dvw;
    min-height: 100dvh;
}

.content-container{
    background: white;
    padding: 15px;
    min-height: 15rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
.button {

    text-align: center;
    font-size: large;
    padding: 15px;
    background: var(--unifae-green-1);
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

@media (min-width: 768px) {
    image{
        width: 300px;
    }
}

@media (min-height: 1024px) {
    image{
        width: 600px;
    }
}

